.auth-container {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100vw;
  height: 100vh;
}

.auth-card {
  width: 25rem;
  padding: 1rem;

  border: 1px solid var(--bs-border-color);
  border-radius: 2rem;

  box-shadow: 0 1rem 3rem -2rem var(--bs-dark);
}

.auth-card-header {
  padding-top: 0.2rem;
  padding-bottom: 0.4rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}
